.about__AboutBanner {
    background: url("../images/group-17.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5%;
    width: 100%;
    height: 76.54%;
    position:  relative;
}

.about__banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.about__banner-first-line {
  font-family: "Poppins Bold";
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.about__banner-first-line span {
  color : #4d8c52;
}

.about__banner-text {
  font-family: "Poppins Regular";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width : 768px ) {
  .about__banner-first-line{
      font-size: 24px;
  }
  
  .about__banner-text{
      font-size: 16px;
  }
  
}

.Timeline .vertical-line {
  border-left: 1px solid #4d8c52;
  height: 100%;
  position:absolute;
  left: 50%; 
}




.Timeline .swiper-container {
    width: 100vw;
    height: 100vh;
}


.timeline-swiper .swiper-container-vertical> .swiper-pagination-bullets, .timeline-swiper .swiper-pagination-custom, .timeline-swiper .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  .timeline__swiper-pagination {
    position: absolute;
    z-index: 21;
    width: 11px !important;
    text-align: center;
    left: 20px !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
  }
  
  .timeline__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 48px 0px !important;
  }
  @media screen and (max-width: 768px) {
    .timeline__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 5px 0px;
    }
  }
  .timeline__swiper-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all .3s;
  }
  .timeline__swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #4d8c52;
    height: 50px;
  }
  @media screen and (max-width: 768px) {
    .timeline__swiper-pagination .swiper-pagination-bullet-active {
      height: 50px;
      width: 11px;
    }
  }
  

 .centered-image {
    transform: translatex(-50%);
    position: relative;
    margin-top: 0%;
    margin-left: 50%;
    z-index: 1000000;
    width:  124px;
  height: 124px;
}



.Timeline {
    display: flex;
}


.pagination-text {
    display:none;
}


.swiper-pagination-bullet-active .pagination-text {
    display: block;
    transform: rotate(90deg) translate(-10%,-100%);
    font-family: "Poppins Bold";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: normal;
  color: #4d8c52;
}




.swiper-slide .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 69.44%;
    transform: translate(-50%,-50%) translateZ(42px);
    background: white;
    text-align: center;
}

.swiper-slide .slide-content .slide-year {
    border : 1px solid  grey;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 1% 0%;
    text-align: center;
    background:white;
    transform:  rotate(45deg);
    
}

.swiper-slide .slide-year p {
  font-family: "Poppins Bold";
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4d8c52;
    margin-bottom: 0;
    padding: 6%;
    transform: translateY(25%) rotate(-45deg);
}

.swiper-slide .slide-content .slide-head {
  font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: center;
  color: #1e1e22;
  margin-top: 3%;
  margin-bottom: 2.33%;
}

.swiper-slide .slide-content .slide-text {
  font-family: "Poppins Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: rgba(33, 56, 66, 0.6);
}


@media screen and (max-width: 768px) {
    .swiper-slide .slide-content {
        width: 65%;
    }

    .swiper-slide .slide-content .slide-text {
        font-size: 13px;

    }

    .swiper-slide .slide-content .slide-head {
        font-size: 16px;
        margin-top: 5%;
    }

  }

.about__section-head {
  font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #21221f;
  margin-bottom: 3%;
}



  .about__third-section {
    margin-bottom: 0%;
    margin-top: -62px;
    padding-top: 134px;
    text-align: center;
    background-image: url("../images/advisors_background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  

  

  @media screen and (max-width: 768px) {

      .about__section-head{
        font-size: 20px;
      }

      .about__third-section {
        padding-top: 104px;
        
      }
    
  }

  @media screen and (max-width: 576px)
  {
      .about__third-section {
        background-image: url("../images/advisors_background-mobile.png");
      }
  }


.advisor__name {
  font-family: "Poppins Bold";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #1e1e22;
  margin-bottom: 1%;
}

.advisor__award {
  font-family: "Poppins Regular";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin-bottom: 1%;
}

.advisor__desi {
  font-family: "Poppins Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 1%;
}


  .advisors {
    margin-top: 0%;
    padding-bottom: 5%;
    display: flex;
  }

.advisor-swiper {
  width: 100%;
  padding-top: 5%; 
}

.advisor-swiper .slide-wrapper {
    width: 90%;
    height: 100%;
}


.advisor__swiper-slide {
  width: 500px !important;
}

.advisor__slide-content {
  margin: 5%;
  padding: 0% 13% 10% 13%;
  height: 90%;
  text-align: center;
}

.advisor__slide-img {
     margin-bottom: 5%;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 768px){
  .advisor__name,.advisor__award {
    font-size : 16px;
  }

  .advisor__desi {
    font-size: 14px;
  }

  .advisor__slide-content {
    padding: 0% 15% 5% 15%;
    height: auto;
  }

  .advisor__slide-img {
    width: 150px;
    height: 150px;
  }
  
}


.advisor__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  border-radius: 0%;
  transform: rotate(45deg);
}

.advisor__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.hidden-bullet {
  background-color: rgba(255,255,255,0);
}

.advisor__swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #4d8c52;
}

.advisor__swiper-button-next, .advisor__swiper-button-prev {
  width: 32px !important;
  height: 32px !important;
  top: 30% !important;
}
.advisor__swiper-button-next::after, .advisor__swiper-button-prev::after {
  font-weight: 1000;
  font-size: 32px !important;
  color: black;
}


.IntermediateBanner {
  background: #1a1b20;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 6.9%;
  width: 100%;
  height: 40%;
  position:  relative;
}

.intermediate-img {
  position: absolute;
  bottom: 0%;
  right: 0%;
  top: auto;
  left: auto;
}

.intermediate-banner-content {
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  text-align: left;
  width: 49.2%;
}

.intermediate-banner-title {
  font-family: "Poppins SemiBold";
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
}

.intermediate-banner-link {
  font-family: "Poppins SemiBold";
  text-decoration-line: underline !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d4d6d4 !important;
}

@media screen and (max-width : 768px)
{

    .intermediate-banner-content{
      width: auto;
    }
    .intermediate-banner-title{
      font-size: 20px;
    }

    .intermediate-banner-link{
      font-size: 14px;
    }

} 



.about__fourth-section {
  margin-top: 10%;
  margin-bottom: 0%;
  padding-bottom: 3%;
  text-align: center;

}

@media screen and (max-width: 768px) {

    .about__fourth-section h1 {
      font-size: 18px;
    }
}


.partner__name {
  font-family: "Poppins Bold";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #1e1e22;
  margin-bottom: 1%;
}

.partner__award {
  font-family: "Poppins Regular";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin-bottom: 1%;
}

.partner__desi {
  font-family: "Poppins Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 1%;
}


.partners {
  margin-top: 0%;
  display: flex;
}

.partner-swiper {
width: 100%;
padding: 5%;
}

.partner-swiper .slide-wrapper {
  width: 90%;
}


.partner__swiper-slide {
width: 500px !important;
}

.partner__slide-content {
margin: 5%;
padding: 0% 13%  10% 13%;
height: 90%;
text-align: center;
}

.partner__slide-img {
   margin-bottom: 5%;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px){
  .partner__name,.partner__award {
    font-size : 16px;
  }

  .partner__desi {
    font-size: 14px;
  }

  .partner__slide-content {
    padding: 0% 15% 5% 15%;
    height: auto;
  }

  .partner__slide-img {
    width: 150px;
    height: 150px;
  }
  
}


.partner__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
border-radius: 0%;
transform: rotate(45deg);
}

.partner__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.hidden-bullet {
background-color: rgba(255,255,255,0);
}

.partner__swiper-pagination .swiper-pagination-bullet-active {
opacity: 1;
background: #4d8c52;
}

.partner__swiper-button-next, .partner__swiper-button-prev {
  width: 32px !important;
  height: 32px !important;
  top: 30% !important;
}
.partner__swiper-button-next::after, .partner__swiper-button-prev::after {
  font-weight: 1000;
  font-size: 32px !important;
  color: black;
}

.swiper-button-disabled {
    opacity: 0 !important; 
}



.about__fifth-section {
  padding-top: 8%;
  margin-bottom: 0%;
  padding-bottom: 3%;
  text-align: center;
}

.about__fifth-section-title {
  font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #21221f;
}

@media screen and (max-width: 768px) {

    .about__fifth-section-title {
      font-size: 18px;
    }

    .about__fifth-section {
      padding-bottom: 0%;
    }

    .advisor__swiper-button-next::after, .advisor__swiper-button-prev::after {
      font-size: 20px !important;
      
    }

    .partner__swiper-button-next::after, .partner__swiper-button-prev::after {
      font-size: 20px !important;
      
    }
}


.businesses {
  display: flex;
  margin: 2% 5% 10% 5%;
  text-align: center;
}

.business-swiper {
  width: 69.44%;
  border-radius: 8px;
  box-shadow: 0 24px 42px -19px rgba(194, 194, 194, 0.52);
  border: solid 0.5px #a0d895;
  background-color: #ffffff;
  padding: 2% 0% !important;
  text-align: center;
}

.business__slide-img {
  width: 200px;
  vertical-align: top;
}


@media screen and (max-width: 768px) {

  .businesses {
    margin: 1% 5% 5% 5%;
  }

  .business-swiper {
    padding: 4% 0% !important;
    width: 100%;
    box-shadow: none;
    border: none;
  }
}

.business-swiper .swiper-wrapper {
  width: 100%;
}


.business__slide-content {
  padding: 0.5% 10% 4%;
  text-align: center;
  }

  .business__slide-img {
    width: 150px;
  }

  .business__swiper-pagination {
    bottom: 0.3px !important;
  }

  .business__slide-quote {
    opacity: 0.6;
  font-family: "Poppins Italic";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  }

  .business__slide-author {
    opacity: 0.6;
    font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }

  


 @media screen and (max-width : 768px){

  

  .business__slide-quote {
      font-size: 16px;
  }

  .business__slide-author {
      font-size: 13px;
  }


 }
 
 


 .business__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  border-radius:50%;
  }
  
  .business__swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.hidden-bullet {
  background-color: rgba(255,255,255,0);
  }
  

 .business__swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #4d8c52;
  }

