.book_heading {
    margin-top : 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #252526;
}


.book_form-content{
    text-align: center;
}

.book_step {
    margin-left: 23.1%;
    font-family: "Poppins Bold";
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.11;
  letter-spacing: 2px;
  color: #4d8c52;
  padding-bottom: 0%;
  margin-bottom: 0%;
  text-align: left;
}

.book_form-content .custom-form-control {
    margin-bottom: 2%;
}

.book_form-content .custom-button {
    margin-bottom : 5%;
}



@media screen and (max-width: 768px) {
    .book_heading {
        font-size:20px;
    }

    .book_step {
        font-size: 13px;
    }
}
