.HomeBanner {
    background: url("../images/group-14.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5%;
    width: 100%;
    height: 85%;
    position:  relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}


.banner-icon {
    color: white; 
    padding-bottom:3%;
}

.banner-first-line {
    font-family: "Poppins Bold";
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #ffffff;
}

.banner-second-line {
    font-family: "Poppins Bold";
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #328e4b;
}

.banner-text {
    font-family: "Poppins Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #ffffff;
}

.banner-link {
    font-family: "Poppins Regular";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:   #d4d6d4 !important;
  text-decoration-line: underline !important;

}


@media screen and (max-width : 768px ) {
    .banner-first-line{
        font-size: 24px;
    }
    .banner-second-line{
        font-size: 24px;
    }
    .banner-text{
        font-size: 14px;
    }
    .banner-link{
        font-size: 12px;
    }
}


.second-section {
    padding-top: 10%;
    padding-bottom: 5%;
}

.second-content {
    width: 70%;
    padding: 0% 5%;
    float: left;
}

.second-section-icon {
    color: #4d8c52;
    width: 38px;
    height: 38px;
}

.third-section-icon {
    color: #4d8c52;
    width: 38px;
    height: 38px;
}

.second-section-heading {
    font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4d533c;
}

.second-section-text {
    font-family: "Poppins Regular";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: rgba(33, 56, 66, 0.6);
}


.right-image {
    max-width: 70vw;
    max-height: 70vh;
    margin-right: 5%;
    padding: 0%;
    overflow: hidden;
    text-align: right;
}

.right-within {
    transform : translateY(0%);
    width: 90%;
    height: 250vh;
}



@media screen and (max-width : 768px) {

    .second-content {
        width: 60%;
    }

    .second-section-heading {
        font-size: 16px;
    }
    .second-section-text {
        font-size: 14px;
    }


    
    .second-section-icon {
        width: 20px;
        height: 20px;
    }

    .third-section-icon {
        width: 20px;
        height: 20px;
    }


}

.third-content {
    width: 100%;
    float: left;
    padding: 0% 0% 5% 0%;
}

.third-section {
    padding: 0% 5% 5% 5% !important;
}




.card {
    box-shadow: 5px 10px 10px grey;
    border-radius: 12px !important;
    margin-bottom: 5%;
}

.card:hover {
    border-radius: 12px;
    -webkit-backdrop-filter: blur(8.9px);
    backdrop-filter: blur(8.9px);
    box-shadow: 11px 11px 35px 0 #eaffec;
    background: linear-gradient( rgba(75,136,80,0.7),rgba(75,136,80,0.7));
}

.back-icon {
    opacity: 1;
    position: absolute;
    left: 70%;
    width: 50%;
    top: -10%;
}


.card:hover .back-icon {
    opacity: 1.0;
}

.card-head {
    color:  #4d8c52;
    font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;

}

.card-title {
    font-family: "Poppins Medium";
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4d533c;
}

.card-text {
    opacity: 0.5;
  font-family: "Poppins Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #0e1912;
}



.card-body:hover, .card-body:hover * {
    color: white;
}


@media screen and (max-width : 768px) {
    .third-content{
        text-align: center;
    }
    .card-head {
        font-size: 16px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 12px;
    }
}

.fourth-section {
    width: 100%;
    border-top: 3px solid #4d8c52;
    margin-top: 5%;
    margin-bottom: 10%;
}

.fourth-head {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.fourth-head h3 {
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-family: "Poppins Bold";
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #4d533c;
}

.fourth-section-text {
    font-family: "Poppins Regular"; 
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: rgba(97, 97, 97, 0.6);
  margin-bottom: 5%;
}

@media screen and (max-width : 768px){
    .fourth-head h3{
        font-size: 16px;
    }

    .fourth-section-text {
        font-size : 12px;
    }
}



.fifth-section {
    position: relative;
    padding: 5%;
    width: 70%;
    margin-left: 0%;
    margin-bottom: -10%;
    box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15), 0 0 12px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;  
    z-index: 100;  
}


.fifth-content {
    font-family: "Poppins Bold";
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #4d533c;
}


.fifth-section-link {
    font-family: "Poppins Bold";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d4d6d4;
}


.first-row {
    padding-top: 10%;
}

@media screen and (max-width: 768px) {
    .fifth-section {
        box-shadow : none;
        margin-bottom: 0%;
        margin-left: 15%;
        text-align: center;
    }
    .fifth-content {
        font-size : 16px;
    }
}


