.home__HomeBanner {
    background: url("../images/group-14.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 6.86%;
    width: 100%;
    height: 76.54%;
    position:  relative;
}

.home__banner-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0,-50%);
}


.home__banner-icon {
    color: white; 
    width: 30px;
    height: 32px;
}

.home__banner-first-line {
    font-family: "Poppins Bold";
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #ffffff;
}

.home__banner-second-line {
    font-family: "Poppins Bold";
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    color: #328e4b;
}

.home__banner-text {
    font-family: "Poppins Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #ffffff;
  width: 56.79%;
}

.home__banner-link {
    font-family: "Poppins Regular";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:   #d4d6d4 !important;
  text-decoration-line: underline !important;

}

.home__second-section-link {
  letter-spacing: normal;
  color:   rgba(33, 56, 66, 0.6) !important;
  text-decoration-line: underline !important;

}



@media screen and (max-width : 768px ) {
    .home__banner-first-line{
        font-size: 24px;
    }
    .home__banner-second-line{
        font-size: 24px;
    }
    .home__banner-text{
        font-size: 14px;
    }
    .home__banner-link{
        font-size: 12px;
    }
}


.home__second-section {
    padding-top: 9.87%;
}

.home__second-content {
    width: 70%;
    padding: 6.86% 5%;
    float: left;
}

.home__second-section-icon {
    color: #4d8c52;
    width: 38px;
    height: 38px;
}

.home__quote {
    position: absolute;
    right: 3%;
    z-index: -10000;
}

.home__third-section-icon {
    color: #4d8c52;
    width: 38px;
    height: 38px;
}

.home__second-section-heading {
    font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4d533c;
}

.home__second-section-text {
    font-family: "Poppins Regular";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: rgba(33, 56, 66, 0.6);
}


.home__right-image {
    max-width: 70vw;
    height: 500px;
    margin-right: 5%;
    margin-top: 6%;
    overflow: hidden;
    text-align: right;
}

.home__right-within {
    transform : translateY(0%);
    width: 90%;
    height: 250vh;
}



@media screen and (max-width : 768px) {

    .home__second-content {
        width: 100%;
        text-align: center;
    }

    .home__right-image {
        display: none;
    }

    .home__second-section-heading {
        font-size: 16px;
    }
    .home__second-section-text {
        font-size: 14px;
    }


    
    .home__second-section-icon {
        width: 20px;
        height: 20px;
    }

    .home__third-section-icon {
        width: 20px;
        height: 20px;
    }

    .home__quote {
        display: none;
    }


}

.home__third-content {
    width: 100%;
    float: left;
    padding: 0% 30% 5% 0%;
}

.home__third-section {
    padding: 0% 8.88% 5% 6.86% !important;
}




.home__third-section .card {
    -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  box-shadow: 11px 11px 35px 0 rgba(121, 121, 121, 0.3);
  background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px !important;
    margin-bottom: 5%;
    height: 100%;
}

.home__third-section .card:hover {
    border-radius: 12px;
    -webkit-backdrop-filter: blur(8.9px);
    backdrop-filter: blur(8.9px);
    background: linear-gradient( rgba(75,136,80,0.7),rgba(75,136,80,0.7));
}

.home__back-icon {
    opacity: 1;
    position: absolute;
    left: 70%;
    width: 50%;
    top: -10%;
}


.home__third-section .card:hover .back-icon {
    opacity: 1.0;
}

.home__third-section .card-head {
    color:  #4d8c52;
    font-family: "Poppins Bold";
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;

}

.home__third-section .card-title {
    font-family: "Poppins Medium";
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4d533c;
}

.home__third-section .card-text {
    opacity: 0.5;
  font-family: "Poppins Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #0e1912;
}


.form-back {
    width: 80%;
    position: absolute;
    transform: translate3D(-50%,-60%,-42px);
    z-index: -100000;
    left: 50%;
}

.home__third-section .card-body:hover,.home__third-section .card-body:hover * {
    color: white;
}


@media screen and (max-width : 768px) {
    .home__third-content{
        text-align: center;
        padding-right: 0%;
        padding-left: 0%;
    }

    .form-back {
        width: 120%;
    }

    .home__third-section{
        padding: 6.86% 5%;
    }

    .home__third-section .card {
        margin-bottom: 5%;
        height: 95%;
    }

    .home__third-section .card-head {
        font-size: 16px;
    }
    .home__third-section .card-title {
        font-size: 14px;
    }
    .home__third-section .card-text {
        font-size: 12px;
    }
}

.home__fourth-section {
    width: 100%;
    border-top: 1px solid #4d8c52;
    margin-top: 5%;
    margin-bottom: 10%;
}

.home__fourth-head {
    text-align: center;
}

.home__fourth-head .home__midText {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-family: "Poppins Bold";
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #4d533c;
  padding: 0;
  width: 42.55%;
}

.home__fourth-section-text {
    font-family: "Poppins Regular"; 
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: rgba(97, 97, 97, 0.6);
  margin-bottom: 5%;
  margin-left: 15.2%;
  margin-right: 15.2%;
}

@media screen and (max-width : 768px){
    .home__fourth-head .home__midText{
        font-size: 16px;
    }

    .home__fourth-section-text {
        font-size : 12px;
    }
}



.home__fifth-section {
    position: relative;
    padding: 5% 25% 5% 10%;
    width: 60%;
    margin-left: 0%;
    margin-bottom: -10%;
    box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15), 0 0 12px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;  
    z-index: 100;  
}


.home__fifth-content {
    font-family: "Poppins Bold";
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #4d533c;
}


.home__fifth-section-link {
    font-family: "Poppins Bold";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d4d6d4;
}


.home__first-row {
    padding-top: 10%;
}

@media screen and (max-width: 768px) {
    .home__fifth-section {
        box-shadow : none;
        margin-bottom: 0%;
        margin-left: 15%;
        text-align: center;
    }
    .home__fifth-content {
        font-size : 16px;
    }
}


