.news__titleDiv {
    width: 100%;
}

.news__heading {
    margin-top: 3%;
    width: 58.958%;
    font-family: "Poppins ExtraBold";
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    color: #4d8c52;
    text-align: center;
    margin-left: 21%;
}

.news__text {
    font-family: "Poppins Regular";
    width: 58.958%;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #818383;
  margin-left: 21%;
}


.news__overall-div {
    display: flex;
}

.news__location-swiper {
    width: 100vw;
    height: 90vh;
}

.news__location__swiper-slide {
    width: 21.33% !important;
    margin: 2%  5% 3%;
    height: 85% !important;
    border-radius: 13px;
}

.news__location___slide-image {
    width: 100%;
    border-radius: 13px;
    height: 40%;
    object-fit: cover;
}

.news__location__slide-content {
    width: 90%;
    height: 70%;
    margin: 5% 0% 5%;
}

.news__location__slide-link {
    font-family: "Poppins Bold";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1px;
    color: #4d8c52 !important;
    text-decoration: underline !important;
}

.news__location__slide-title {
    font-family: "Poppins SemiBold";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}


.news__location__slide-text {
    font-family: "Poppins Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: justify;
}


.news__location__swiper-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all .3s;
  }

.news__location__swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #4d8c52;
    width: 45px;
    border-radius: 13px;
  }


@media screen and (max-width : 768px){
    .news__heading {
        font-size: 18px;
    }
    .news__text {
        font-size: 12px;
    }
    .news__location__slide-link,.news__location__slide-text{
        font-size: 12px;
    }
    .news__location__slide-title{
        font-size: 16px;
    }

    .news__location__swiper-slide {
        width: 40% !important;
    }
}

@media screen and (max-width: 576px) {
    .news__location__swiper-slide {
        width: 60% !important; 
        margin: 3% 20% 0%;
    }

    
}



