.news__overall-div {
    display: flex;
}

.news__location-swiper {
    width: 100vw;
    height: 80vh;
}

.news__location__swiper-slide {
    width: 300px !important;
    height: 80% !important;
    margin: 3%;
    border-radius: 13px;
}

.news__location___slide-image {
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height: 40%;
}

.news__location__slide-content {
    width: 90%;
    height: 50%;
    margin: 7% 5% 5%;
}

.news__location__slide-paper {
    position: absolute;
    bottom: 0%;
    top: auto;
    font-family: "Poppins Regular";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
}

.news__location__slide-title {
    font-family: "Poppins SemiBold";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.news__location__swiper-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all .3s;
  }

.news__location__swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #4d8c52;
    width: 45px;
    border-radius: 13px;
  }



