@import "poppins/style.css";


p,h1,h2,h3,a {
  cursor: pointer !important;
}

#root {
  font-family: "Poppins Regular" !important;
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.spinner-grow {
  animation-duration: 1.5s;
  background-color: #b5b5b5;
  width: 178px;
  height: 178px;
}

.loader-img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.loader {
  height: 100%;
  background-color: #4d8c52;
}

.body {
    font-family: "Poppins Regular" !important;
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
  overflow: hidden;
}

.navBar {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topnav {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    width : 100%;
  }

.column {
  width: 7%;
  text-align: left;
}

.column-md {
  width: 11%;
  text-align: left;
}

.column-lg {
  width: 17%;
  text-align: left;
}

.nav-brandc {
  width: 19%;
}
  
.nav-brandc img {
  width: 60%;
  margin-left: 23%;
  vertical-align: baseline;
}

  .nav-linkc {
    padding: 0% 0%;
    margin-left: 1%;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins SemiBold";
  font-size: 14px;
  color: #5b5b5b;
  }


  .nav-buttonc {
      padding: 3% 5%;
      margin-left: 1%;
      text-align: center;
      font-size: 12px;
      color: white;
      background-color: #4d8c52;
      border-radius: 15px;
      border: none;
      font-family: "Poppins Semibold";
      font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;

  }

  .nav-buttonc a {
    color: white;
    text-decoration: none;
  }

  
  .nav-linkc:hover , .nav-linkc.active {
    color: #4d8c52 !important;
    font-family: "Poppins SemiBold";
    text-decoration: none;
  }
  
  .topnav a.activec {
    color: black;
  }
  

  .navBar .iconc {
    display: none;
  }
  
  @media screen and (max-width: 768px) {

    
    .nav-itemc{display: none;}
    .navBar .iconc {
      display: block;
      width: auto;
      margin: 1%;
      position: absolute;
      top: 0.5%;
      right: 3%;
    }

    .column {
      width: 100%;
      font-size: 12px;
    }
    .column-md {
      width: 100%;
      font-size: 12px;
      
    }

    .column-lg {
      width : 100%;
      font-size: 12px;
    }

    .nav-brandc {
      margin-left: 10%;
      width: 80%;
    }
    
    .topnav .nav-brandc img {
        width: 40%;
    }
  }

  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;
      width: 100%;
    }
     .navBar.responsive .iconc {
      position: absolute;
      top: 0.5%;
      right: 3%;
    } 


    

    .topnav.responsive .nav-brandc {
        display: block;
        margin-bottom: 2%;
    }


    .topnav.responsive .nav-linkc{
      display: block;
      padding: 2%;
      text-align: left;
      font-size: 15px;
    }

    .topnav.responsive .nav-buttonc{
      margin-top: 2%;
      padding: 2%;
      font-size: 15px;
      display: block;
      text-align: left;
    }

    .topnav.responsive .navlinks {
        margin-top: 5%;
        display: block;
        text-align: left;
    }



  }
  
  
.custom-form-control,.custom-form-control-half, .show > .custom-form-control, .show > .custom-form-control-half {
  border-radius: 6px;
  border: solid 1px #979797 !important;
  text-decoration: none;
  box-shadow: none !important;
  white-space: normal !important;

  font-family: "Poppins Bold";
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #d2d3d0 !important;
  background: none !important;
  width: 100%;
  text-align: left;
  align-items: center;
  display: inline-block;
  padding: 0.375em 0.75em;
}

.custom-form {
  width: 55.55%;
  background-color: white;
}

form {
  text-align: center;
}

.custom-form-control img.custom {
  width: 20px;
  margin: 2% 2%;
}

.custom-form-control img.arrow {
  margin: 2%;
  width: 20px;
  float: right;
}



.custom-form-control-half img.custom {
  width: 20px;
  margin: 4% 4%;
}

.custom-form-control-half img.arrow {
  margin: 4%;
  width: 20px;
  float: right;
}


.custom-form-control input::placeholder, .custom-form-control input {
  text-decoration: none;
  border: none;
  font-family: "Poppins Bold";
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
  width: 90%;
}

.custom-form-control input {
  color: #484848;
}

.custom-form-control input::placeholder {
  color: #d2d3d0;
}



.custom-form-control-half input::placeholder {
  font-family: "Poppins Bold";
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #d2d3d0;
}

.custom-form-control-half input {
  text-decoration: none;
  border: none;
  font-family: "Poppins Bold";
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #b0b1a8;
  background: none;
  margin-top: 2.4%;
  width: 90%;
  float: right;
  text-align: left;
}


.custom-form-control:focus,
.custom-form-control-half:focus,
.custom-form-control-half input:focus,
.custom-form-control input:focus {
  outline: none;
}

.custom-form .col-sm {
  margin-bottom: 5%; 
  text-align: left;
}


.custom-form-control-half button {
  text-decoration: none;
  border: none;
  color: grey;
  background: none;
  width: 100%;
  text-align: left;
}


.dropdown-menu{
  width: 100%;
}

.custom-form-control select:active,select:hover {
  outline: none;
}

.custom-form-control::after,.custom-form-control-half::after { 
  content: none !important; 
} 


.custom-button {
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 7px 20px 0 rgba(29, 113, 35, 0.2);
  background-color: #4d8c52;
  border: none;
  color: white;
  display: inline-block;
  width: 300px;
  padding: 1% 2%;
  margin-top: 1%;
}

.custom-button span {
  padding-left: 5%;
  width: auto;
  font-family: "Poppins Bold";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.custom-button img {
  width: 25px;
}

.custom-form-control .form-control-name {
  padding: 0%;
  margin: 0%;
  display: inline;
}

.custom-form-control-half .form-control-name {
  padding: 0%;
  margin: 0%;
}



.custom-form-options {
  margin: 2%  0% !important;
  border-radius: 12px;
  box-shadow: 0 6px 16px 0 rgba(218, 215, 215, 0.5);
  border: solid 1px #b7b7b7;
  background-color: #ffffff;
  overflow-y:  scroll;
  max-height: 200px;
  scrollbar-color: #b7b7b7;
  scrollbar-width: thin;
  scrollbar-arrow-color: rgba(225,225,225,0);
  z-index: 1000000000;
}

.custom-form-options .dropdown-item {
  width: 100%;
  white-space: normal;
}

.custom-form-options::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 20px;
}


.custom-form-check {
  margin-top: 1%;
}

.custom-form-check-group{
  display: inline-flex;
  text-align: left;
  width: 100%;
  margin-bottom: 3%;
}

.custom-form-check-label {
  font-family: "Poppins Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: rgba(33, 56, 66, 0.6);
  margin-left: 3%;

}


@media screen and (max-width : 768px) {
  .custom-button span,.custom-form-control-half input,
  .custom-form-control-half input::placeholder,
  .custom-form-control,.custom-form-control-half,
  .custom-form-control input,
  .custom-form-control input::placeholder,
  .custom-form-check-label,
  .show > .custom-form-control,
  .show > .custom-form-control-half
  {
    font-size : 12px;
  }

  .custom-form-control input,
  .custom-form-control input::placeholder,
  .custom-form-control-half input,
  .custom-form-control-half input::placeholder
  {
      width: auto;
  }

  .custom-form {
    width: 70%;
  }


  

  .custom-form-control .form-control-name {
    margin: 0% 0%;
  }

  .custom-form-control-half .form-control-name {
    margin: 0% 0%;
  }

  .custom-form-control-half img.custom,.custom-form-control-half img.arrow {
    width: 15px;
    margin: 4% 2%;
  }

  .custom-form-control img.custom,.custom-form-control img.arrow {
    width: 15px;
  }

  .custom-button img {
      width: 15px;
  }
  
  .custom-button {
    width: 200px;
  }


  .custom-form-control-half input {
      margin-top: 0.5%;
      padding: 0%;
  } 
}

@media screen and (max-width : 768px) {

  .custom-form-control-half img.custom,.custom-form-control-half img.arrow {
    width: 11px;
  }

  .custom-form-control img.custom,.custom-form-control img.arrow {
    width: 11px;
  }

}

.footer{
  background-color: #4d8c52;
  width: 100%;
  padding-top: 2%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 0;
}


.footer {
  padding-right: 4%;
}

.footer .border-row {
  border-bottom: 1px solid #1e4d22;
}

.footer .border-column {
  border-right: 1px solid #1e4d22;
}

.footer .row {
  padding: 2% 0% 2% 2%; 
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  color: #ffffff;
}


.footer-bold {
    font-family: "Poppins SemiBold";

}

.footer-bolder {
  font-family: "Poppins Bold";
  white-space: nowrap;

}

.footer-normal {
  font-family : "Poppins Regular";
  color: #b6c197;
}

.footer-email {
  font-size : 16px;
  font-family : "Poppins Bold";
  word-wrap: break-word;
}

.footer-social-logos {
  display: inline-block;
  width: 100%;
}

.footer-social-logos i {
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  margin: 2%;
  width: 33px;
  height: 33px;
  background-color: #444a34;
  color: #5e6648;
}

.footer-social-logos .fa:hover {
  color: white;
}

.footer-social-logos i.fa-facebook:hover {
  background-color: #3b5998;
}

.footer-social-logos i.fa-twitter:hover {
  background-color: #00ACEE;
}

.footer-social-logos i.fa-google-plus:hover {
  background-color: #f4b400;
}

.footer-social-logos i.fa-linkedin:hover {
  background-color: #0072b1;
}


@media screen and (max-width : 768px) {
  .footer .border-column {
    border-right: none;
    border-bottom: 1px solid #1e4d22;
  }
  .footer-social-logos i {
    color: white;
  }
  .footer-social-logos .fa-facebook {
    background-color: #3b5998;
  }
  
  .footer-social-logos .fa-twitter {
    background-color: #00ACEE;
  }
  
  .footer-social-logos .fa-google-plus {
    background-color: #f4b400;
  }
  
  .footer-social-logos .fa-linkedin {
    background-color: #0072b1;
  }
}




  