.TeamBanner {
    background: url("../images/teampage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 5%;
    width: 100%;
    height: 85%;
    position:  relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    text-align: center;
}

.banner-first-line {
    font-family: "Poppins Bold";
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #252526;
}

.banner-first-line span {
  color : #4d8c52;
}

.banner-text {
    font-family: "Poppins Regular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: rgba(33, 56, 66, 0.6);
}

@media screen and (max-width : 768px ) {
  .banner-first-line{
      font-size: 21px;
  }
  
  .banner-text{
      font-size: 14px;
  }
  
}

.second-section{
    margin-top: 3%;
    padding: 3% 8% !important;
    margin-bottom: 10%;
    width: 80%;
}

.second-section-heading {

    font-family: "Poppins ExtraBold";
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  color: #4d8c52;
}

.second-section-text {
  font-family: "Poppins Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818383;
}

@media screen and (max-width : 768px) {

    .second-section {
        margin-top: 7%;
        width: 90%;
    
    }
    .second-section-heading {
        font-size : 18px;
    }

    .second-section-text {
        font-size: 14px;
    }
}

.founders {
    padding : 5% 4% 5% 8% !important;
    background: linear-gradient(to bottom, #e7f6e8, #ffffff);
}

.third-section .founder-card{
    width: 5%;
    padding: 0% 8% 0% 0%;
    margin-bottom: -10%;
    transform: translateY(-30%);
    
}

.founder-image {
    width: 100%;
    margin-bottom: 5%;
    height: 300px;
}

.founder-name {
    font-family: "Poppins Bold";
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 1%;
  color: #000000;
}

.founder-desi {
    font-family: "Poppins Regular";
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #818383;
}

.founder-text {
    opacity: 0.7;
  font-family: "Poppins Regular";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.founder-logos {
    display: inline-block;
    width: 100%;
}

.founder-logos i {
    color: #737373;
    padding: 2%;
}

@media screen and (max-width : 768px) {
    .third-section .founder-card{
        width: 100%;
        margin-bottom: 25%;
        transform: none;
    }

    
    .founder-name {
        font-size: 18px;
    }

    .founder-desi{
        font-size: 16px;
    }

    .founder-text{
        font-size: 14px;
    }

}


